*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .controls{
    padding: 1%;
    color: #eee; 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label{
    font-weight: 300;
    margin: 0 .4em 0 0;
  }
  
  button{
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.active{
    background: rgb(202,126,76);
  }
  
  button:focus{
    outline: 0 none;
  }
  
  button + label{
    margin-left: 1em;
  }
  
  .container{
    padding: 2% 2% 0;
    text-align: justify !important;
    font-size: 0.1px; /*quitar para ver todos los string*/
    
    -webkit-backface-visibility: hidden;
  }
  
  .container:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .container .mix,
  .container .gap{
    display: inline-block;
    width: 49%;
  }
  
  .container .mix{
    text-align: left;
    background: rgb(202,126,76);
    margin-bottom: 2%;
    display: none;
  }
  
  .container .mix.category-1{
    border-top: 2px solid rgb(254,182,160); /*limegreen;*/
    font-size: 16px; /*para ver lo que hay dentro*/
  }
  
  .container .mix.category-2{
    border-top: 2px solid yellow;
  }
  
  .container .mix:before{
    content: attr(asignatura); /*data-myorder*/
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 4% 6%;
    font-weight: 700;
  }
  
  .container .mix:after{
    content: '';
    display: inline-block;
    padding-top: 60%;
  }


  
  @media all and (min-width: 420px){
    .container .mix,
    .container .gap{
      width: 32%;
    }
  }
  
  @media all and (min-width: 640px){
    .container .mix,
    .container .gap{
      width: 23.5%;
    }
  }

  .subject-info{
    font-weight: 550;
  }