.diagram {
    width: 180px;
    height: 180px;
    display: inline-block;
    float: left;
    position: relative;
}
.pieBackground {
    background-color: #d5d8df;
    position: absolute;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
}
.pieField {
    z-index: 100;
    background-color: rgba(202,126,76,1);
    position: absolute;
    width: 170px;
    height: 170px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    left: 5px;
    top: 5px;
}
.object {
    position: absolute;
    z-index: 200;
    width: 5px;
    height: 180px;
    background-color: transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    left: 87.5px;
}
.round {
    position: absolute;
    z-index: 1000;
    width: 5px;
    height: 5px;
    background-color: rgb(113, 103, 130);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.hold {
    position: absolute;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
    clip: rect(0,180px,180px,90px);
}
.pie {
    background-color: rgb(113, 103, 130);
    position: absolute;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
    clip: rect(0,90px,180px,0);
} 
#pieSlice2 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}